@using KeepFitStore.Models.ViewModels.Basket

@model IEnumerable<BasketViewModel>
@{
    ViewData["Title"] = "Your Basket";
    var plural = "s";
}

<h1 class="mt-3">Your Basket</h1>
@if (Model == null || Model.Count() == 0)
{
    <div class="shadow text-center p-4">
        <h3 class="text-secondary p-4">You have no products in your basket.</h3>
    </div>
}
else
{
    @foreach (var item in Model)
    {
        <div class="row bg-light border rounded pb-2 pt-2 mt-2 mb-2">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-7 col-8 m-1">
                <img src="@item.Product.ImageUrl" class="img-fluid border" alt="Responsive image">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7 col-12 m-1">
                <a asp-area="Products" asp-controller="@(item.Product.ProductType.ToString() + @plural)" asp-action="Details" asp-route-id="@item.Product.Id">
                    <h6><ins>@item.Product.Name @item.Product.ProductType.ToString() &pound;@item.Product.Price</ins></h6>
                </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-8 col-sm-10 col-12 m-1">
                <input type="hidden" basketId="@item.BasketId" productId="@item.Product.Id" name="name">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a asp-controller="Basket" asp-action="Edit" asp-route-basketId="@item.BasketId" asp-route-productId="@item.Product.Id" asp-route-quantity="@(item.Quantity - 1)" class="btn btn-outline-info border btn-sm" dataType="minus">
                            <span> <i class='fas fa-minus'></i></span>
                        </a>
                    </span>
                    <input type="number" disabled="disabled" class="bg-white pl-1 quantity" value="@item.Quantity" min="1" max="10">
                    <span class="input-group-btn">
                        <a asp-controller="Basket" asp-action="Edit" asp-route-basketId="@item.BasketId" asp-route-productId="@item.Product.Id" asp-route-quantity="@(item.Quantity + 1)" class="btn btn-outline-info border btn-sm" dataType="plus">
                            <span><i class='fas fa-plus'></i></span>
                        </a>
                    </span>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-8 col-8">
                <h6>Total Price:<br /> &pound;<span reb="price">@(item.Product.Price * item.Quantity)</span></h6>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-2 col-sm-8 col-8">
                <a asp-controller="Basket" asp-action="Delete" asp-route-basketId="@item.BasketId" asp-route-productId="@item.Product.Id" class="btn btn-link btn-sm btn-danger remove">Remove</a>
            </div>
        </div>
    }
    <div class="border bg-primary m-4 p-2">
        <div id="totalBasketValue" class="row m-3"><h3 class="col-xl-6 offset-xl-3 text-white">Total Basket Price: &pound;<span>@Model.Sum(x => x.Product.Price * x.Quantity)</span></h3></div>
        <div class="row m-3">
            <a href="#" class="btn btn-warning col-xl-6 offset-xl-3">Check out</a>
        </div>
    </div>
}

@section Scripts {
    <script>
        $().ready(function () {
            disableButtonIfQuantityIsOne();
            //attachQuantityClickEvent();
            //attachRemoveClickEvent();           
        });
    </script>
}
