@using KeepFitStore.WEB.Common;

@{
    var product = this.ViewBag.Product;
    var plural = "s";
}

<div class="mt-4 ml-4">
    <h3>@product.Name @product.ProductType @product.Type <span class="text-secondary"><em>&pound;@product.Price</em></span></h3>
</div>
<partial name="~/Areas/Products/Views/Partials/_ProductRatingPartial.cshtml" />
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="@product.ImageUrl" class="img-fluid border" alt="Responsive image">
    </div>
    <div class="container shadow col-xl-7 col-lg-6 col-md-7 col-12">
        <div class="d-flex justify-content-between">
            <div class="m-4">
                <h5 class="font-weight-bold"><em>Product Type:</em><br />@product.ProductType</h5>
            </div>
            @if (product.IsSuatableForVegans)
            {
                <div class="m-4 text-white">
                    <h5 class="font-weight-bold bg-success p-2"><i class="fas fa-leaf"></i><em> Suitable For Vegans</em></h5>
                </div>
            }
        </div>
        <div class="row">
        </div>
        <hr class="border-primary w-100" />
        <div class="row pr-3">
            <div class="col-12 col-md-4 col-lg-4 col-xl-4 col-sm-10">
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-area="Products" asp-controller="@(product.ProductType.ToString() + @plural)" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-secondary">Edit</a>
                        <a asp-area="Administrator" asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>
                    </div>
                }
            </div>
            <div class="mt-2 mb-2 col-xl-2 offset-xl-6 col-lg-2 offset-lg-4 col-md-2 offset-md-4 col-sm-4 col-2 offset-0">
                <h4 class="font-weight-bold"><mark>&pound;@product.Price</mark></h4>
            </div>
        </div>
        <hr class="border-primary w-100" />
        <div class="row">
            <a asp-controller="Basket" asp-action="Add" asp-route-id="@product.Id" class="btn btn-primary col-xl-6 col-lg-6 col-md-8 offset-md-2 offset-lg-3 offset-xl-3 mb-3 mt-3">
                <div class="text-center ">
                    Add to basket
                </div>
            </a>
            <a href="#" class="btn btn-warning col-xl-6 col-lg-6 col-md-8 offset-md-2 offset-lg-3 offset-xl-3 mb-3 mt-3">
                <div class="text-center ">
                    <i class='far fa-heart'></i>
                    Add to favorites
                </div>
            </a>
        </div>
    </div>
</div>
