@{
    ViewData["Title"] = $"{Model.Name} Details";
    var product = this.ViewBag.Product;
}

<div class="mt-4 ml-4">
    <h3>@product.Name @product.ProductType @product.Type <span class="text-secondary"><em>&pound;@product.Price</em></span></h3>
</div>
<div class="mb-4 ml-4">
    <a id="rating-stars" href="#">
        @for (int i = 1; i <= 5; i++)
        {
            if (this.ViewBag.Product.Rating >= i)
            {
                <span class="fa fa-star checked" style="font-size:24px;"></span>
            }
            else
            {
                <span class="fa fa-star" style="font-size:24px;"></span>
            }
        }
        <span class="ml-2">(@this.ViewBag.Product.Reviews.Count votes)</span>
    </a>
    <span class="ml-4"><a id="reviewTag" href="#" data-toggle="modal" data-target="#modalSubscriptionForm" class="btn-link">write a review</a></span>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-12">
        <img src="@product.ImageUrl" class="img-fluid border" alt="Responsive image">
    </div>
    <div class="container shadow col-xl-7 col-lg-6 col-md-7 col-12">
        <div class="d-flex justify-content-between">
            <div class="m-4">
                <h5 class="font-weight-bold"><em>Product Type:</em><br />@product.ProductType</h5>
            </div>
            @if (product.IsSuatableForVegans)
            {
                <div class="m-4 text-white">
                    <h5 class="font-weight-bold bg-success p-2"><i class="fas fa-leaf"></i><em> Suitable For Vegans</em></h5>
                </div>
            }
        </div>
        <div class="row">
        </div>
        <hr class="border-primary w-100" />
        <div class="row pr-3">
            <div class="mt-2 mb-2 col-xl-2 offset-xl-10 col-lg-4 offset-lg-8 col-md-6 offset-md-6 col-sm-10 offset-sm-2">
                <h4 class="font-weight-bold"><mark>&pound;@product.Price</mark></h4>
            </div>
        </div>
        <hr class="border-primary w-100" />
        <div class="row">
            <a asp-controller="Basket" asp-action="Add" asp-route-id="@product.Id" class="btn btn-primary col-xl-6 col-lg-6 col-md-8 offset-md-2 offset-lg-3 offset-xl-3 mb-3 mt-3">
                <div class="text-center ">
                    Add to basket
                </div>
            </a>
            <a href="#" class="btn btn-warning col-xl-6 col-lg-6 col-md-8 offset-md-2 offset-lg-3 offset-xl-3 mb-3 mt-3">
                <div class="text-center ">
                    <i class='far fa-heart'></i>
                    Add to favorites
                </div>
            </a>
        </div>
    </div>
</div>
