@using KeepFitStore.Models.InputModels.Orders
@using KeepFitStore.Domain.Enums

@model CreateOrderInputModel
@{
    ViewData["Title"] = "Create Order";
    var total = 0m;
}

<div class="container row mt-4">
    <div class="col-8">
        <ul>
            <li class="my-light-color border rounded p-3 mb-2">
                <h3>1. Welcome</h3>
                <div id="welcome-div">
                    <form id="welcome-form" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label asp-for="User.FullName"></label>
                                <input asp-for="User.FullName" type="text" class="form-control" placeholder="Full Name..." />
                                <span asp-validation-for="User.FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="User.PhoneNumber"></label>
                                <input asp-for="User.PhoneNumber" type="number" class="form-control" placeholder="Phonenumber..." />
                                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start m-4">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="my-light-color border rounded p-3 mb-2">
                <h3>2. Delivery Address</h3>
                <div id="address-div">
                    <form id="address-form" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label asp-for="DeliveryAddress.City.Name"></label>
                                <input asp-for="DeliveryAddress.City.Name" type="text" class="form-control" placeholder="City..." />
                                <span asp-validation-for="DeliveryAddress.City.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="DeliveryAddress.City.PostCode"></label>
                                <input asp-for="DeliveryAddress.City.PostCode" type="number" class="form-control" placeholder="Postcode..." />
                                <span asp-validation-for="DeliveryAddress.City.PostCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label asp-for="DeliveryAddress.StreetName"></label>
                                <input asp-for="DeliveryAddress.StreetName" type="text" class="form-control" placeholder="Street name..." />
                                <span asp-validation-for="DeliveryAddress.StreetName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="DeliveryAddress.StreetNumber"></label>
                                <input asp-for="DeliveryAddress.StreetNumber" type="number" class="form-control" placeholder="Street &num;..." />
                                <span asp-validation-for="DeliveryAddress.StreetNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start m-4">
                            <button type="submit" class="btn btn-primary">Save Address</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="my-light-color border rounded p-3 mb-2">
                <h3>3. Billing & Confirmation</h3>
                <div id="billing-div">
                    <form method="post" asp-controller="Orders" asp-action="Create">
                        <h5 class="mt-4 mb-4 text-center">Choose your delivery type</h5>
                        <div class="d-flex justify-content-between ml-3 mr-3">
                            @foreach (var item in Enum.GetValues(typeof(DeliveryType)))
                            {
                                <div class="form-check form-check-intline">
                                    <label>
                                        <input asp-for="DeliveryType" type="radio" name="deliveryType" value="@item" />
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                        <h5 class="mt-4 mb-4 text-center">Payment method</h5>
                        <div class="d-flex justify-content-between ml-3 mr-3">
                            @foreach (var item in Enum.GetValues(typeof(PaymentType)))
                            {
                                <div class="form-check form-check-intline">
                                    <label>
                                        <input asp-for="PaymentType" type="radio" name="paymentType" value="@item" />
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                        <div id="confirmation-data" class="row mt-4">
                        </div>
                        <div class="d-flex justify-content-lg-between m-4">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            <a href="#" id="edit-btn" class="btn btn-danger pl-4 pr-4">Edit</a>
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="border rounded p-1 my-light-color">
        <h4 class="ml-2">Order Summary</h4>
        <table class="table table-borderless mt-4">
            <thead class="border-bottom ">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    total += (item.Quantity * item.ProductPrice);
                    <tr>
                        <td>@item.ProductName @item.ProductType.ToString()</td>
                        <td>@item.Quantity</td>
                        <td>&pound;@item.ProductPrice</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (total >= 60)
        {
            <p class="p-1 m-2 text-danger">You get <strong>FREE</strong> next day delivery</p>
        }
        else if (total >= 20)
        {
            <p class="p-1 m-2 text-danger">You get <strong>FREE</strong> standart delivery</p>
        }

        <h6 id="totalSum" total-sum="@total" class="p-1 m-2">Total: &pound;@total</h6>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $().ready(function () {
            addUsersInfo();
            addAddress();
            chooseDeliveryType();
            startFromBeginning();
        });
    </script>
}