@using KeepFitStore.Models.InputModels.Orders
@using KeepFitStore.Domain.Enums

@model CreateOrderInputModel
@{
    ViewData["Title"] = "Create Order";
    var total = 0m;
}

<div class="container row mt-4">
    <div class="col-8">
        <ul>
            <li class="my-light-color border rounded p-3 mb-2">
                <h3>1. Delivery Address</h3>
                <div id="address-div">
                    <form id="address-form" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label asp-for="DeliveryAddress.City.Name"></label>
                                <input asp-for="DeliveryAddress.City.Name" type="text" class="form-control" placeholder="City..." />
                                <span asp-validation-for="DeliveryAddress.City.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="DeliveryAddress.City.PostCode"></label>
                                <input asp-for="DeliveryAddress.City.PostCode" type="number" class="form-control" placeholder="Postcode..." />
                                <span asp-validation-for="DeliveryAddress.City.PostCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label asp-for="DeliveryAddress.StreetName"></label>
                                <input asp-for="DeliveryAddress.StreetName" type="text" class="form-control" placeholder="Street name..." />
                                <span asp-validation-for="DeliveryAddress.StreetName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-2">
                                <label asp-for="DeliveryAddress.StreetNumber"></label>
                                <input asp-for="DeliveryAddress.StreetNumber" type="number" class="form-control" placeholder="Street &num;..." />
                                <span asp-validation-for="DeliveryAddress.StreetNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start m-4">
                            <button type="submit" class="btn btn-primary">Enter Address</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="my-light-color border rounded p-3 mb-2">
                <h3>2. Billing & Delivery Type</h3>
                <div id="billing-div">
                    <form method="post" id="fake-form">
                        <h5 class="mt-4 mb-4 text-center">Choose your delivery type</h5>
                        <div class="d-flex justify-content-between ml-3 mr-3">
                            @foreach (var item in Enum.GetValues(typeof(DeliveryType)))
                            {
                                <div class="form-check form-check-intline">
                                    <label>
                                        <input asp-for="DeliveryType" type="radio" name="deliveryType" value="@item" />
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                        <h5 class="mt-4 mb-4 text-center">Payment method</h5>
                        <div class="d-flex justify-content-between ml-3 mr-3">
                            @foreach (var item in Enum.GetValues(typeof(PaymentType)))
                            {
                                <div class="form-check form-check-intline">
                                    <label>
                                        <input asp-for="PaymentType" type="radio" name="paymentType" value="@item" />
                                        @item
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="d-flex justify-content-start m-4">
                            <button type="submit" class="btn btn-primary">Go</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="my-light-color border rounded p-3 mb-2">
                <h3>3. Confirmation</h3>
                <div id="confirm-div">
                    <div id="confirmation-data" class="row mt-4">
                    </div>
                    <form method="post" asp-controller="Orders" asp-action="Create">
                        <div class="form-row hidden-form">
                            <div class="form-group col-md-5">
                                <input asp-for="DeliveryType" type="text" class="form-control" name="set-delivery" />
                            </div>
                            <div class="form-group col-md-5">
                                <div class="form-check form-check-intline">
                                    <label>
                                        <input asp-for="PaymentType" type="radio" name="paymentType" value="" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic example">
                            <a href="#" class="btn btn-danger">Edit</a>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </li>
        </ul>

    </div>
    <div class="border rounded p-1 my-light-color">
        <h4 class="ml-2">Order Summary</h4>
        <table class="table table-borderless mt-4">
            <thead class="border-bottom ">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    total += (item.Quantity * item.Price);
                    <tr>
                        <td>@item.Name @item.ProductType.ToString()</td>
                        <td>@item.Quantity</td>
                        <td>&pound;@item.Price</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (total >= 60)
        {
            <p class="p-1 m-2">You get <strong>FREE</strong> next day delivery</p>
        }
        else if (total >= 20)
        {
            <p class="p-1 m-2">You get <strong>FREE</strong> standart delivery</p>
        }

        <h6 id="totalSum" total-sum="@total" class="p-1 m-2">Total: &pound;@total</h6>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $().ready(function () {
            addAddress();
            chooseDeliveryType();
            $("#fake-form").submit(function (evt) {
                evt.preventDefault();

                let isFormValid = $("#fake-form").valid();
                if (!isFormValid) {
                    return;
                }

                let deliveryType = $('input[type=radio][name=deliveryType]:checked').val();
                let paymentType = $('input[type=radio][name=paymentType]:checked').val();

                $("#confirmation-data")
                    .append($("<ul>")
                        .append($(`<li>`)
                            .append($(`<p>Delivery: ${deliveryType}</p>`).addClass("h6")))
                        .append($(`<li>`)
                            .append($(`<p>Payment: ${paymentType}</p>`).addClass("h6"))));


                $("input[name*='set-delivery']").attr("value", deliveryType);
                $("input[name*='set-payment']").attr("value", paymentType);
               
                $("#billing-div").toggle("slow");
                $("#confirm-div").toggle("slow");
            });
        });
    </script>
}